:root{
      --bg-primary: #121212;
      --bg-secondary: blue;
      --color-primary: #626262;
      --color-secondary: rgb(150, 148, 148);
      --cyan: cyan;
}
:root{
      --bg-primary-dark: black;
      --bg-secondary-dark: blue;
      --color-primary-dark: white;
      --color-secondary-dark: rgb(150, 148, 148);
      --red-dark: red;
}

/* ----- template global styles */
.bg-cyan{
      background-color: cyan !important;
}
.cyan{
      color: cyan !important;
}